<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    
    <title>About</title>
</head>
<body>
  {{>navbar}}
           <div class="containter-fluid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                  
           <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure class="about_img">
                    <img src="/images/IMG_20190310_144550_466.jpg" class="image-fluid" title="junaid">
                </figure>
            
            </div>
           <div class="col-md-6 col-12 main_header_left">
             <p>Welcome to the weather app</p>
             <h1>I am a <span>Web Developer</span> and can build websites for you.</h1>
             <a href="https://www.linkedin.com/in/junaid-daud-baloch/" target="_blank"><button>Check now</button></a>
        
          </div>
         

          </div>

       </div>

   </div>
  </div>
   <!--footer-->
<footer>
  <p>Copyright@Junaid </p>
</footer>
</body>
</html>